<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EnglishKeyboardView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Keyboard-Mafateeh.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3238745A2D1BEDF10078B374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3238746C2D1BEDF20078B374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323874762D1BEDF20078B374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3238748D2D1BEE190078B374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
